.footer-wrapper {
  background-color: #f5f5f8;
}
.footer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.footer-top {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 69px;
}

.footer__logo {
  padding-right: 371px;
}

.footer__content-left {
  padding-right: 200px;
  margin-top: -6px;
  list-style-type: none;
  padding-inline-start: 0;
}

.footer__content-left a {
  text-decoration: none;
}

.footer__content-right a {
  text-decoration: none;
}

.footer__content-left li {
  margin-bottom: 24px;
}

.footer__content-left li a {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #2e2755;
  cursor: pointer;
}

.footer__content-right {
  padding-right: 202px;
  margin-top: -6px;
  list-style-type: none;
  padding-inline-start: 0;
}

.footer__content-right li {
  margin-bottom: 24px;
}

.footer__content-right li a {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #2e2755;
  cursor: pointer;
}

.footer__social {
  margin-top: -7px;
}

.footer__social-text {
  padding-bottom: 15px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #808389;
  cursor: pointer;
}

.footer-bot {
  max-width: 784px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 54px;
}

.footer__heading {
  margin-bottom: 24px;
  margin-left: 80px;
}

.fa-solid {
  padding-right: 5px;
  padding-top: 2px;
}

.footer__heading-text {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #808389;
}

.footer__title {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #808389;
  margin-left: 80px;
}

.logo1 {
  cursor: pointer;
  width: 100%;
  max-width: 142px;
  max-height: 32px;
  height: 100%;
  object-fit: cover;
}

.vector1 {
  width: 24px;
  height: 24px;
  margin-right: 2px;
  cursor: pointer;
}

.vector2 {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.footer__social-logo a {
  text-decoration: none;
}
@media (max-width: 1430px) {
  .footer__logo {
    padding-right: 200px;
    padding-left: 80px;
  }

  .footer-top {
    margin: 0;
  }

  .footer__content-left {
    padding-right: 200px;
  }

  .footer__content-right {
    padding-right: 200px;
  }

  .footer__heading {
    margin-left: 80px;
    margin-right: 32px;
  }

  .footer__title {
    margin-left: 80px;
    margin-right: 32px;
  }
}
@media (max-width: 1300px) {
  .footer__logo {
    padding-right: 150px;
  }

  .footer__content-left {
    padding-right: 150px;
  }

  .footer__content-right {
    padding-right: 150px;
  }

  .footer__social {
    padding-right: 32px;
  }
}
@media (max-width: 1100px) {
  .footer__logo {
    padding-right: 100px;
  }

  .footer__content-left {
    padding-right: 100px;
  }

  .footer__content-right {
    padding-right: 100px;
  }

  .footer__social {
    padding-right: 32px;
  }
}

@media (max-width: 900px) {
  .footer__logo {
    padding-left: 32px;
    padding-right: 50px;
  }
  .footer-top {
    padding-top: 72px;
  }

  .footer__heading {
    margin-left: 32px;
  }

  .footer__content-left {
    padding-right: 50px;
  }

  .footer__content-right {
    padding-right: 50px;
  }

  .footer__title {
    margin-left: 32px;
  }
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }

  .footer__content-left {
    padding-left: 32px;
    margin-top: 35px;
    margin-bottom: 56px;
  }

  .footer__content-right {
    padding-left: 32px;
  }

  .footer__social {
    padding-left: 32px;
    margin-bottom: 56px;
  }
  .footer__content-left li:last-child {
    margin-bottom: 0;
  }
  .footer__content-left {
    margin-bottom: 56px;
  }
  .footer-bot {
    padding-bottom: 64px;
    width: 100%;
    padding-top: 56px;
  }
}

@media (max-width: 414px) {
  .footer {
    padding-top: 8px;
  }

  .logo1 {
    width: 100%;
    max-width: 106.52px;
    max-height: 24px;
    height: 100%;
    object-fit: cover;
  }

  .footer__content-right {
    margin-bottom: 39px;
  }

  .footer__social {
    margin-bottom: -3px;
  }

  .footer__heading {
    margin-bottom: 18px;
  }

  .footer__heading-text {
    font-size: 12px;
    line-height: 16.8px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 16.8px;
  }

  .vector1 {
    margin-right: 4px;
  }
}
