.take-a-look {
    background-color: #f5f5f8;
    padding: 40px 88px 75px 72px;
  }
  .take-alook-wrapper {
    position: relative;
  }
  .take-alook-wrapper img[alt="take-a-look"]{
    width:100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  .take-look {
    position: absolute;
    top: 35px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .visit-directory {
    padding-left: 80px;
  }
  
  .visit-directory .title h2 {
    font-family: 'Aktiv Grotesk Ex';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    max-width: 724px;
  }
  .visit-directory .title .des {
    max-width: 651px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    max-width: 651px;
  }
  .visit-directory .visit-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 46px;
  }
  .visit-directory .visit-button a.btn-directory {
    max-width: 302px;
    margin-right: 32px;
  } 
  
  .visit-directory .visit-button a.link-icon {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;  
    text-align: center;
    color: #FFFFFF;
    margin-right: 11px;
    position: relative;
  }
  .visit-directory .visit-button a.link-icon::after {
    content: url(../../images/common/fl_arrow_white.svg);
    position: absolute;
    right: -32px;
  }
  @media (max-width:1200px) {
    .take-a-look {
      padding: 40px;
    }
  }
  @media (max-width:1024px) {
    .take-a-look {
      padding: 50px 0 0 0;
    }
  }
  @media (width:414px) {
    .take-a-look {
      padding: 57px 0 0 0;
    }
  }
  @media (max-width:768px) {
    .visit-directory {
      padding: 63.37px 32px 80px;
    }
    .visit-directory .title h2 {
      font-size: 24px;
      line-height: 120%;
    -webkit-line-clamp: 3;
    }
    .visit-directory .title .des {
      -webkit-line-clamp: 3;
      font-size: 14px;
      line-height: 160%;
    }
    .visit-directory .visit-button a.btn-directory{
      margin-bottom: 24px;
      max-width: initial;
    }
    .take-alook-wrapper img[alt="take-a-look"]{
      /* height: 469px; */
      height: 473.37px;
      width: 100%;
      object-fit: cover;
      object-position: 79% 50%;
      display: block;
    }
    .visit-directory .visit-button a.link-icon{
      font-size: 14px;
      margin-right: 11px;
    }
    .visit-directory .visit-button a.link-icon::after {
      content: url(../../images/common/fi_arrow_right_white_mobile.svg);
      position: absolute;
      right: -23px;
    }
    .visit-directory .visit-button{
      flex-direction: column;
      align-items: flex-start;
      margin-top: 39px;
    }
    .visit-directory .visit-button a.btn-directory{
      margin-bottom: 24px;
    }
  }
  
  