@import "./banner.css";
@import "./why-list.css";
@import "./nature-based.css";
@import "./simple-steps.css";
@import "./comming-soon.css";
@import "./listed-form.css";
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* max-width: 1440px; */
    margin: 0 auto;
    overflow: hidden;
}
.take_a_look-cover .take-a-look{
    padding: 40px 88px 75px 72px;
}
.active-btn {
    border: 2px dashed #D4D3DE!important;
}
.content-get-in-touch {
  background: #28245c;
}
.content-take-a-look {
  background-color: #f5f5f8;
}
@media (max-width:1024px) {
    .take_a_look-cover .take-a-look{
        padding: 50px 0 0 0;
    }
  }
